@model AngularGettingStarted.Models.EnvInfo
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <base href="/">

    @if (Model.Development)
    {

    <!-- inject:css -->
    <link rel="stylesheet" href="/css/src/site.css">
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endinject -->
    <!-- app:js -->
    <script src="/js/src/app.js"></script>
    <script src="/js/src/home/Home.controller.js"></script>
    <script src="/js/src/routes.js"></script>
    <!-- endinject -->

    }
    @if (!Model.Development)
    {

    <!-- min:css -->
    <link rel="stylesheet" href="/css/app.min.css">
    <!-- endinject -->
    <!-- min:js -->
    <script src="/js/libs.min.js"></script>
    <script src="/js/app.min.js"></script>
    <!-- endinject -->

    }
</head>
<body>
    <div ng-app="app">
        <ui-view></ui-view>
    </div>
</body>
</html>
