@inject Microsoft.AspNet.Hosting.IHostingEnvironment HostingEnvironment
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @if (HostingEnvironment.EnvironmentName == "Development") {

    <!-- inject:css -->
    <link rel="stylesheet" href="/css/src/site.css">
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- endinject -->
    <!-- app:js -->
    <script src="/js/src/app.js"></script>
    <!-- endinject -->

    }
    @if (HostingEnvironment.EnvironmentName != "Development") { 
    <!-- min:css -->
    <link rel="stylesheet" href="/css/app.min.css">
    <!-- endinject -->
    <!-- min:js -->
    <script src="/js/libs.min.js"></script>
    <script src="/js/app.min.js"></script>
    <!-- endinject -->
    }
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
